* {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

body {
  overflow: hidden;
}

main {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.notMain {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  display: none;
}

.error {
  margin: 0;
  font-size: 14px;
  color: red;
}

a {
  color: #d5e5f0;
  text-decoration: none;
  font-weight: 400;
}

button {
  color: #aeb6bf;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  background: #2d4352;
  padding: 5px;
  border: 0;
  border-radius: 3px;
  transition: all 0.4s ease 0s;
  font-weight: 400;
}

button:focus {
  outline: none;
  color: #aeb6bf;
  background: #2d4352;
}

button:hover {
  color: #ffffff;
  background: #52b380;
  transition: all 0.4s ease 0s;
}

h3 {
  margin-top: 15px;
  margin-bottom: 0;
}

h5 {
  margin: 0;
}

input {
  padding: 0 10px !important;
  margin-left: 12px;
  width: 140px;
  height: 2.5rem !important;
  border-style: hidden;
  border: 1px #adbbc4 solid;
  border-radius: 2px;
  font-size: 16px;
}

textarea {
  padding: 5px;
  height: 100px;
}

.sidebar input, textarea, .loginSignup input {
  background-color: rgba(255, 255, 255, .8) !important;
}

.unsavedTitle {
  width: 90% !important;
}

.footer input {
  color: #ffffff;
  background-color: rgba(255, 255, 255, .15) !important;
}

.footer input::placeholder {
  color: #6f7781;
}

ul {
  padding: none;
  list-style-type: none;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
  padding: 0 !important;
  background: #182229;
  height: 100px;
  width: 100vw;
  overflow-y: auto;
}

.header button {
  position: absolute;
  top: 42px;
  left: 50px;
}

.heading {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  color: #d5e5f0;
  font-size: 32px;
}

.welcome {
  position: absolute;
  top: 35px;
  right: 100px;
  font-size: 20px;
  color: #8298a1;
}

.introText {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 88px;
  left: 25px;
  width: 320px;
  height: auto;
  overflow: visible;
  padding: 20px;
  background: rgba(229, 242, 251, 0.95);
  border-radius: 5px;
  z-index: 8;
  font-size: 13px;
  transform: translateX(-150%);
}

.introText:after {
	content: '';
	position: absolute;
	top: 0;
	left: 22%;
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-bottom-color: rgba(229, 242, 251, 0.95);
	border-top: 0;
	margin-left: -15px;
  margin-top: -15px;
}

.footer {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  left: 0;
  bottom: 0;
  z-index: 5;
  padding: 0 !important;
  background: #182229;
  height: 80px;
  width: 100vw;
  overflow-y: auto;
}

.footer div {
  margin: 0;
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #d0dbd3;
  height: 100%;
}

.footer button {
  margin: 0px 15px;
}

.loginSignup {
  position: absolute;
  left: 30%;
  top: 140px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 40vw;
  height: 65vh;
  background: rgba(229, 242, 251, 0.95);
  transform: translateX(180%);
  transition: transform 0.1s ease;
  color: #182229;
  border: #182229 2px solid;
  border-radius: 5px;
  z-index: 3;
}

.loginDetails, .loginDetails > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 80%;
  margin-top: 10px;
}

#submitLogin {
  margin-top: 15px;
}

.loginSignup button, input {
  margin: 5px;
  align-self: center;
}

.loginSignup p {
  padding: 5px 0 12px 0;
  align-self: center;
}

.googleLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.greenLink {
  color: #52b380;
  text-decoration: none;
  background: none;
  border: none;
  border-color: none;
  padding: 0;
  border-radius: 0;
  transition: none;
}

.greenLink:hover {
  color: #a7d6cc;
  background: none;
  transition: none;
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 3px 7px 4px 7px;
  border-radius: 50px !important;
  z-index: 5;
  font-size: 14px;
  font-weight: 700;
  border: none !important;
}

.secondaryButton {
  background: rgba(229, 242, 251, 0.95);
  color: #182229;
  border: #182229 1px solid;
  border-radius: 2px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
  padding: 0;
  margin: 115px 20px 0 0;
  background: rgba(229, 242, 251, 0.95);
  border-radius: 5px;
  height: 73vh;
  width: 300px;
  overflow-y: auto;
  transform: translateX(110%);
  transition: transform 0.3s ease;
  color: #182229;
}

.sidebarButtons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 15px 5px 5px 2px;
}

.sidebarButtons button {
  margin: inherit;
}

.active {
  transform: translateX(0);
}

.sidebar ol {
  padding: 0;
}

.sidebar li {
  padding: 0 0 8px 0;
}

.detail {
  margin: 0 20px 15px 20px;
}

.itinerary {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.editing-container {
  width: 100%;
  padding: 30px 20px 15px 20px;
}

.saved-container {
  width: 100%;
  padding: 38px 20px 15px 20px;
}

.saved-container hr {
  width: 90%;
}

.list-header {
  text-align: center;
}

.strong-header {
  font-weight: 700;
  text-align: center;
}

.itineraryButton {
  border: none;
  background: none;
  color: #52b380;
  text-align: left;
}

.itineraryButton:hover {
  color: #2d4352;
  background: none;
}

#currentListTitle {
  width: 90%;
  height: 28px;
  font-size: 16px;
  margin: 5px;
}

#currentListNotes {
  width: 90%;
  height: 65px;
  font-size: 16px;
}

.itinerary button {
  align-self: center;
}

.loginSignup .heading {
  padding-bottom: 20px;
  color: #182229;
  font-size: 24px;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.marker {
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.remove {
  border: none;
  background: none;
  color: #52b380;
}

.remove:hover {
  color: #2d4352;
  background: none;
}

#toast-container {
  min-width: 10%;
  top: 10%;
  right: 50%;
  transform: translateX(50%) translateY(50%);
}

.toast {
  font-weight: normal;
  width: auto;
  padding: 15px;
  text-align: center !important;
}

@media only screen and (max-width: 992px) and (min-width: 601px) {
  #toast-container {
    min-width: 20%;
    margin-top: 2%;
    bottom: 90% !important;
    left: 50% !important;
    transform: translateX(-50%) translateY(-50%);
  }
}

@media only screen and (max-width: 600px) {
  #toast-container {
    min-width: 30%;
    margin-top: 2%;
    bottom: 90% !important;
    left: 50% !important;
    transform: translateX(-50%) translateY(-50%);
  }
}
