* {
  box-sizing: border-box;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin-left: 12px;
}

ul {
  padding: none;
  list-style-type: none;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  padding: 0 !important;
  background: #182229;
  height: 11vh;
  width: 100vw;
  overflow-y: auto;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 0 !important;
  background: #182229;
  height: 11vh;
  width: 100vw;
  overflow-y: auto;
}

.footer ul {
  margin: 0;
  padding: 15px 0;
  display: flex;
  flex-direction: row;
  color: #d0dbd3;
}

.footer ul li {
  padding: 0 20px;
}

.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  padding: 0 !important;
  background: rgba(255, 255, 255, 0.95);
  height: 100vh;
  width: 20vw;
  overflow-y: auto;
  transform: translateX(100%);
  transition: transform 0.5s ease-out;
}

.active {
  transform: translateX(0);
}

.sidebar ul {
  padding-top: 50px;
  padding-left: 0;
}

.heading {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  color: #d5e5f0;
  font-family: 'Averia Libre', sans-serif;
  font-size: 32px;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

section {
  padding: 10px 0;
}

a {
  color: #d5e5f0;
  font-family: 'Averia Libre', sans-serif;
  text-decoration: none;
}
